
<div class="container-fluid">
    <div class="row">
    <div class="page-header" style="margin: -23px -24px 25px;" align="center" xmlns="http://www.w3.org/1999/html">
        <div id="logo">
            <div id="logo_text">
                <h1><a href="">The Daily<span class="logo_colour">Circles</a></h1>
                <h2>Daily news.</h2>
            </div>
        </div>
    </div>
      <div class="" style="padding-right: 0px; padding-left: 0px; margin: -27px;">
          <nav class="navbar navbar-default" id="testnav" style="background:#122647;">
              <ul class="nav navbar-nav">
                  <li class="menu-item"><a class="navli" href="{% url 'homepage:news_list' %}">The DailyCircles</a></li>
                  <li class="menu-item"><a class="navli" href="{% url 'homepage:news_list' %}"><span class="fa fa-home" style="margin-right:3px">
                  </span>Home</a></li>
                  <li class="menu-item"><a class="navli" href="{% url 'homepage:contactus' %}"><span class="glyphicon glyphicon-earphone"></span>Contact</a></li>
                  <li class="menu-item"><a class="navli" href="#id_subscribe"><span class="fa fa-send" style="margin-right:3px"></span>Subscribe</a></li>
                  <li class="menu-item"><a class="navli"  href="{% url 'homepage:search'%}"><span class="glyphicon glyphicon-search"></span>Search</a></li>


                 {# <li class="menu-item"> <form action="{% url 'homepage:search' %}" method="post" id="searchform">#}
               {# {% csrf_token %} #}
               {# <input type="text" name="search_field" class=" text-center" placeholder="search-key">#}
                {#<button class="btn btn-primary" type="submit"> Search </button>#}
                {#</form></li>#}
              </ul>

                <ul class="nav navbar-nav pull-right">
                   {% if user.username %}
                  <li class="menu-item"><a class="navli"  href="#"> Hi.. &nbsp{{ user.username }}</a></li>
                  <li class="menu-item"><a class="navli"  href="{% url 'logout' %}">Logout</a></li>
                  <li class="menu-item"><a class="navli"  href="{% url 'change_password' %}" >change password</a></li>
                  {% else %}
                  <li class="menu-item"><a class="navli"  href="{% url 'login' %}">Login</a></li>
                  <li class="menu-item"><a class="navli" href="{% url 'signup' %}">SignUp</a></li>
                  {% endif %}
              </ul>
          </nav>
      </div>
    </div>
</div>
