<div class="container-fluid" style=" margin-right: -100px;margin-left: -101px;margin-top: -24px;">
<div class="page-header container col-sm-12 col-md-12" align="center" xmlns="http://www.w3.org/1999/html">
    <div id="logo">
        <div id="logo_text">
          <h1><a href="">The Daily<span class="logo_colour">Circles</a></h1>
            <h2>Daily news.</h2>
        </div>
      </div>
</div>
<div class="row">
      <div class="col-sm-12 col-md-12">
          <nav class="navbar navbar-default" id="testnav" style="background:#122647;">
              <ul class="nav navbar-nav">
                  <li class="menu-item"><a class="navli" href="{% url 'homepage:news_list' %}">The DailyCircles</a></li>
                  <li class="menu-item"><a class="navli" href="{% url 'homepage:news_list' %}"><span class="fa fa-home" style="margin-right:3px">
                  </span>Home</a></li>
                  <li class="menu-item"><a class="navli" href="{% url 'homepage:contactus' %}"><span class="glyphicon glyphicon-earphone"></span>Contact</a></li>
                  <li class="menu-item"><a class="navli" href="#id_subscribe"><span class="fa fa-send" style="margin-right:3px"></span>Subscribe</a></li>
                  <li class="menu-item"><a class="navli"  href="{% url 'homepage:search'%}"><span class="glyphicon glyphicon-search"></span>Search</a></li>
              </ul>

                <ul class="nav navbar-nav pull-right">
                   {% if user.username %}
                  <li class="menu-item"><a class="navli"  href="#"> Hi.. &nbsp{{ user.username }}</a></li>
                  <li class="menu-item"><a class="navli"  href="{% url 'logout' %}">Logout</a></li>
                  <li class="menu-item"><a class="navli"  href="{% url 'change_password' %}" >change password</a></li>
                  {% else %}
                  <li class="menu-item"><a class="navli"  href="{% url 'login' %}">Login</a></li>
                  <li class="menu-item"><a class="navli" href="{% url 'signup' %}">SignUp</a></li>
                  {% endif %}
              </ul>
          </nav>
      </div>

      <!--<div class="col-sm-4 col-md-4">-->
          <!--<nav class="navbar navbar-default" id="testnav2" style="background:#122647;color:#fff">-->
              <!--<ul class="nav navbar-nav">-->
                  <!--{% if user.username %}-->
                  <!--<li class="menu-item"><a class="navli"  href="#"> Hi.. &nbsp{{ user.username }}</a></li>-->
                  <!--<li class="menu-item"><a class="navli"  href="{% url 'logout' %}">Logout</a></li>-->
                  <!--<li class="menu-item"><a class="navli"  href="{% url 'change_password' %}" >change password</a></li>-->
                  <!--{% else %}-->
                  <!--<li class="menu-item"><a class="navli"  href="{% url 'login' %}">Login</a></li>-->
                  <!--<li class="menu-item"><a class="navli" href="{% url 'signup' %}">SignUp</a></li>-->
                  <!--{% endif %}-->
              <!--</ul>-->
          <!--</nav>-->
      <!--</div>-->
</div>
</div>