<!DOCTYPE html>
<html>
{% load static %}
<head>
{% block head %} {% include "./header.html" %} {% endblock head %}
    <script>
$(document).ready(function(){
    $("#searchtest").click(function(){
        $("#searchtest").hide();
    });
});
</script>
<style>
    .sharediv{
        color: #0077e2;
        margin-top: 110px;
}

</style>
</head>
<body>

<div class="container">
{% block navbar %} {% include "./navbar.html" %} {% endblock navbar %}

        <div class="row">
            {%block search%}{%endblock search%}
            {% block newslist %}

              {% if latest_news_list %}
                  <div class="col-sm-8 col-md-8 newscater ">
                      <ul>
                             <div class="news">
                                 {% for latest in latest_news_list %}

                                 <div class="panel-default thumbnail">

                                     <div class="news-header panel-heading ">
                                         <h2><li><a href="{% url 'homepage:newsdetail' latest.id %}">{{latest.title}}</a></li></h2>
                                     </div>

                                     <div class="news_body panel-body">
                                         <li>{{latest.content|safe|truncatewords:"20"}}</li>
                                         <a href="{% url 'homepage:newsdetail' latest.id %}">read more</a>
                                         <br>
                                     </div>

                                     </div>
                                 <br><br>
                                  {% endfor %}
                                    </div>
                        </ul>
                  </div>
               {% else %}
                    <div class="well well-sm">
                         <p>Sorry, No News Available!</p>
                    </div>
               {% endif %}
            {% endblock newslist %}

<!--
                  <div class="col-sm-4 col-md-4 col-lg-4 list-group newscater">
                      <a href="#" class="list-group-item"><span class="badge" ><i class="fa fa-chevron-right icon-data"></i></i></span> Business </a>
                      <a href="#" class="list-group-item"><span class="badge" ><i class="fa fa-chevron-right icon-data"></i></i></span>Entertainment</a>
                      <a href="#" class="list-group-item"><span class="badge" ><i class="fa fa-chevron-right icon-data"></i></i></span>Sports</a>
                      <a href="#" class="list-group-item"><span class="badge" ><i class="fa fa-chevron-right icon-data"></i></i></span>Tech</a>
                  </div>
-->
                {% if categ_news %}
                      <div class="col-sm-4 col-md-4 list-group newscater">
                          {% for categories in categ_news %}
                              <a href="{% url 'homepage:categorylist' categories.cname %}" class="list-group-item"><span class="badge" ><i class="fa fa-chevron-right icon-data"></i></i></span>{{categories.cname}}</a>
                          {% endfor %}
                      </div>
                 {% endif %}
                {% block addnews %}
                {% if user.is_authenticated %}
                    <div class="col-sm-4 col-md-4 btn btn-link well well-sm" style="float:right">
                       <span class="glyphicon glyphicon-plus-sign">Add your own news? </span> <a href="{% url 'homepage:addnews' %}">Click here!</a>
                    </div>
                  {% endif %}
                    <br><br><br><br><br>
                    {% endblock addnews %}
                    <div class="col-sm-4 col-md-4 well well-sm pull-right" id="id_subscribe" style="float:right">
                        {% include './subscribe.html'%}
                    </div>



              </div>

{% block paginate %} {% include "./paginate.html" %} {% endblock paginate %}
</div>
    {% block footer %} {% include "./footer.html"%} {% endblock footer %}
</body>

</html>