<!DOCTYPE html>
<html>
{% load static %}
<head>
{% block head %} {% include "./header.html" %} {% endblock head %}
    <script>
$(document).ready(function(){
    $("#searchtest").click(function(){
        $("#searchtest").hide();
    });
});
</script>
<style>
    .sharediv{
        color: #0077e2;
        margin-top: 110px;
}

</style>
</head>
<body>

<div class="container">
{% block navbar %} {% include "./navbar.html" %} {% endblock navbar %}

        <div class="row">

            {% block newslist %}

              {% if latest_news_list %}
                  <div class="col-sm-8 col-md-8 newscater">
                      <ul>
                             <div class="news">
                                 {% for latest in latest_news_list %}
                                     <div class="news-header">
                                         <h2><li><a href="{% url 'homepage:newsdetail' latest.id %}">{{latest.title}}</a></li></h2>
                                     </div>

                                     <div class="news_body">
                                         <li>{{latest.content|safe|truncatewords:"20"}}</li>
                                         <a href="{% url 'homepage:newsdetail' latest.id %}">read more</a>
                                         <br>
                                  {% endfor %}
                                    </div>
                             </div>
                        </ul>
                  </div>
               {% else %}
                   <p>Sorry, No News Available!</p>
               {% endif %}
            {% endblock newslist %}

<!--
                  <div class="col-sm-4 col-md-4 col-lg-4 list-group newscater">
                      <a href="#" class="list-group-item"><span class="badge" ><i class="fa fa-chevron-right icon-data"></i></i></span> Business </a>
                      <a href="#" class="list-group-item"><span class="badge" ><i class="fa fa-chevron-right icon-data"></i></i></span>Entertainment</a>
                      <a href="#" class="list-group-item"><span class="badge" ><i class="fa fa-chevron-right icon-data"></i></i></span>Sports</a>
                      <a href="#" class="list-group-item"><span class="badge" ><i class="fa fa-chevron-right icon-data"></i></i></span>Tech</a>
                  </div>
-->
                 {% if categ_news %}
                      <div class="col-sm-4 col-md-4 list-group newscater">
                          {% for categories in categ_news %}
                              <a href="{% url 'homepage:categorylist' categories.cname %}" class="list-group-item"><span class="badge" ><i class="fa fa-chevron-right icon-data"></i></i></span>{{categories.cname}}</a>
                          {% endfor %}
                      </div>
                {% endif %}
                {% block addnews %}
                {% if user.is_authenticated %}
                    <div class="col-sm-4 col-md-4">
                        <a href="{% url 'homepage:addnews' %}">Add your own news? Click here!</a>
                    </div>
                  {% endif %}

                    <div class="col-sm-4 col-md-4" id="id_subscribe">
                        {% include './subscribe.html'%}
                    </div>

                {% endblock addnews %}
              </div>

{% block paginate %} {% include "./paginate.html" %} {% endblock paginate %}
</div>
    {% block footer %} {% include "./footer.html"%} {% endblock footer %}
</body>

</html>