{% include "homepage/header.html" %}
{% load socialaccount %}
<div>{% include "homepage/navbar.html" %}</div>
{% block login %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
    	    <h3>Login or <a href="{% url 'signup' %}">Sign up</a></h3>

            <form method="post" class="pull-left text-left">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-lg btn-primary" type="submit">Login</button>
            </form>
        </div>
        <br>
        <div class="col-sm-12 col-md-12">
            <p><strong> -- OR -- </strong></p>
            <a class="fa fa-facebook" style=" background: #3B5998;color: white;font-size: 30px;padding: 20px;" href="{% provider_login_url "facebook" method="oauth2" %}"></a>
            <a class="fa fa-Google" style=" background: #3B5998;background: #dd4b39;color: white;font-size: 30px;padding: 20px;" href="{% url 'google_login' %}"></a>
        </div>
        <div class="col-sm-12 col-md-12">
            <a href="{% url 'password_reset' %}">Forgot password?</a>
        </div>
    </div>

{#<a href="{% provider_login_url "openid" openid="https://www.google.com/accounts/o8/id" next="/success/url/" %}">Google</a>#}
{# <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-lg omb_btn-google"> #}
      {# <i class="fa fa-google-plus visible-xs"></i>#}
{# <span class="hidden-xs">Google+</span> #}
{# </a> #}

</div>

{% endblock %}
{% include "homepage/footer.html" %}

